body, button, input, select, textarea {
  font: normal 0.8rem 'Source Code Pro', monospace !important;
}

footer {
  border-top: 1px dotted rgba(33, 33, 33, 0.3);
  margin: 1.3rem 0.3rem;
  padding: 0.4rem;
}

ol.upper-roman {
  list-style: upper-roman !important;
}

.btn-group {
  margin: 0.6rem 0;
}